.satis {
  background-color: $color-blue;
}

.banner--satisfaccion {
  background: url('../img/satisfaccion.png') no-repeat center/cover, rgba(133, 133, 133, 0.5);
  background-blend-mode: multiply;

  @media only screen and (max-width: 600px) {
    border-bottom-right-radius: 12em;
  }


}


.banner__content--satisfaccion {

  h1 {
    color: $color-red;
    font-size: 5.5rem;
    line-height: 0.8em;

    @media only screen and (max-width: 700px) {
      border-bottom-right-radius: 12em;
      padding-top: 2.3em;
      font-size: 4.3rem;
    }



    span {
      display: block;
      text-align: left;
      padding-bottom: .3em;
    }
  }

  ul {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    color: $color-blue;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;
    word-spacing: .2rem;
    text-transform: uppercase;


    li {
      padding-top: .5em;
      padding-bottom: .5em;
    }
  }



}

.texto {
  padding: 4em;

  @media only screen and (max-width: 400px) {
    padding: 2em;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $color-white;
    text-align: left;

    @media only screen and (max-width: 600px) {
      padding: 1em;
    }

  }
}

.bolder {
  font-weight: 600;
  display: inline;
  color: $color-red;
}